
   
   
   <div class="card text-center col-md-6 " style="margin:auto; margin-top:50px;">
    <div class="card-header bg-dark text-white ">
      <h3>Reset Your Password</h3>
    </div>
    <div class="card-body bg-warning">

     <div class="authBlock">
       
 
       <p class="text-center">Please enter your email address to request a password reset.</p>
 
       <div class="formGroup">
         <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
       </div><br>
 
       <!-- Calling ForgotPassword from AuthService Api -->
       <div class="formGroup">
         <input type="submit" class="btn btn-primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
       </div>
     </div>
 
     <div class="redirectToLogin">
       <span>Go back to ?  <button class="btn btn-link" id="signup"><span class="redirect" routerLink="/sign-in">Log In</span></button></span>
     </div>

    </div>
  </div>
  
 
