


<div class="displayTable">
  <div class="displayTableCell">


    <br><br><br>


    <div class="authBlock">
      <div class="card col-md-6 mx-auto bg-dark text-white">
        <div class="card-header">    

                <div id="title" class="blinking"> Welcome to {{ title }} </div>
                  
           
        </div>
        <div card-body>
          <div class="form-group">
            <label for="exampleInputEmail1">User Email</label>
            <input type="text" class="form-control" #userEmail aria-describedby="emailHelp"
              placeholder="Enter Your Email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email and UserName with anyone
              else.</small>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" class="form-control" #userPwd aria-describedby="emailHelp"
              placeholder="Enter Your Secret Password">
            <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
          </div>

          <!-- Calling SignIn Api from AuthService -->
          <div class="formGroup signup ">
            <input type="button" class="btn btn-primary btn-block" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">
          </div>

          <div class="formGroup">
            <span class="or"><span class="orInner">Or</span></span>
          </div>

          <div class="formGroup">
            <button type="button" class="btn btn-danger btn-block" (click)="authService.GoogleAuth()">
              <i class="fab fa-google-plus-g"></i>
              Log in with Google
            </button>

          </div><br>

          <div class="formGroup">
            <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Register with Facebook</button>

          </div>

          <div class="formGroup forgotPassword forgot_signup">
            <button class="btn btn-link" id="signup">
              <span routerLink="/forgot-password">Forgot Password</span>
            </button>
          </div>

          <div class="redirectToLogin forgot_signup">

            <span>Already have an account? 
              <button class="btn btn-link" id="signup" ><span class="redirect" routerLink="/sign-in"> Log In</span></button>
            </span>

           

          </div>

        </div>
      </div>