

#title{

    font-size: 30px;
    color:violet;
    text-align: center;
}
.orInner{
    text-align: center;
    margin-left: 50%;
}

.forgot_signup{
    text-align: center;
}
#signup{
    color: chocolate;
}

.blinking{
    animation:blinkingText 0.60s infinite;
}
@keyframes blinkingText{
    0%{     color:violet;    }
    49%{    color: red; }
    50%{    color: greenyellow; }
    99%{    color:red;  }
    100%{   color:gold;    }
}